@import 'tailwindcss';
@tailwind utilities;

/* Set the main theme color for project */
@theme {
    --color-map-primary: #75c3aa;
    --color-map-secondary: #2a473e;
}

@keyframes slideIn {
    0% {
        transform: translateX(50%) skewX(-20deg);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) skew(20deg);
        opacity: 1;
    }
}

@keyframes popUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-slide-in {
    animation: slideIn 2s ease-in-out infinite;
}

.animate-popup {
    animation: popUp 2s infinite;
}

